// -----------------------------------------------------------------
// ACCORDION
// -----------------------------------------------------------------
.c-accordion_panel {
  display: none;
}

.c-accordion_panel.is-expanded {
  display: block;
}
