// -----------------------------------------------------------------
// CARD
// -----------------------------------------------------------------
.c-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1200px;
  gap: 10px;
  margin: 0 auto;
  padding: 0 20px;
  &_item {
    width: calc(50% - 5px);
    h3 {
      border: 1px solid #333;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
