<header id="header" class="l-header">
  <div class="l-header_inner">
    <!-- <h1 class="l-header_logo"><a href="/">LOGO</a></h1> -->
    <nav class="l-header_nav is-sp js-nav">
      <ul class="l-header_menu">
        <li><a href="#sec01" class="js-anchor">menu 01</a></li>
        <li><a href="#sec02" class="js-anchor">menu 02</a></li>
        <li><a href="#sec03" class="js-anchor">menu 03</a></li>
      </ul>
    </nav>
    <!-- <div class="l-header_hamburger">
      <button class="hamburger-button js-hamburger js-toggle-nav" data-hamburger aria-haspopup="true" aria-expanded="false">
        <div class="hamburger-button_icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="hamburger-button_text">MENU</div>
      </button>
    </div> -->
  </div>
</header>
<!-- /header -->
